{% extends 'backend/base.html' %}
{% block title %} Product List {% endblock %}
{% load static %}
{% load widget_tweaks %}


{% block page_css %}
<style>
     #id_created_at_0, #id_created_at_1 {
        display: inline-block;
        width: 45%;
    }
    #id_created_at_0 {
        float: left;
        margin-right: 8px;
    }
    #id_created_at_1 {
        float: right;
    }
</style>
{% endblock page_css%}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Products</h1>
</div>


<div class="card">
    <form action="" method="GET" class="card-header">
        <div class="form-row justify-content-between">
            <div class="col-md-2">
                {% render_field filter_form.q class+="form-control" placeholder="Product Title"  %}
            </div>
            
            <div class="col-md-2">
                {% render_field filter_form.variant class+="form-control"  %}
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Price Range</span>
                    </div>
                    {% render_field filter_form.price class+="form-control" %}
                </div>
            </div>
            <div class="col-md-2">
                {% render_field filter_form.created_at class+="form-control" %}
            </div>

            <div class="col-md-1">
                <button type="submit" class="btn btn-primary float-right"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>

    <div class="card-body">
        <div class="table-response">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Variant</th>
                    <th width="150px">Action</th>
                </tr>
                </thead>

                <tbody>
                {% for object in object_list %}
                <tr>
                    <td>{% if page_obj %} {{ forloop.counter0|add:page_obj.start_index }} {% else %} {{ forloop.counter }} {% endif %}</td>
                    <td>{{ object.pk }}{{ object.title }} <br> Created at :  {{ object.created_at|date:'d-M-Y' }}</td>
                    <td>{{ object.description }}</td>
                    <td>
                        <dl class="row mb-0" style="height: 80px; overflow: hidden" id="variant-{{ object.pk }}">
                                {% for variant in  object.get_product_variants %}
                                <dt class="col-sm-3 pb-0">
                                    XL/ Black/ Full
                                </dt>
                                <dd class="col-sm-9">
                                    <dl class="row mb-0">
                                        <dd class="col-sm-4 pb-0">Price : {{ variant.price}}</dd>
                                        <dd class="col-sm-8 pb-0">InStock : {{ variant.stock }}</dd>
                                    </dl>
                                </dd>
                                {% endfor %}
                        </dl>
                        <button onclick="$('#variant-{{ object.pk }}').toggleClass('h-auto')" class="btn btn-sm btn-link">Show more</button>

                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="" class="btn btn-success">Edit</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>

    <div class="card-footer">
        <div class="row justify-content-between">
            <!-- pagination -->
            {% include 'backend/particals/pagination.html' %}
        </div>
    </div>
</div>
{% endblock %}